<div class="container p-4 h-100">
  <div class="row h-75 d-flex align-items-center">
    <div class="col-md-4 mx-auto">
      <div class="card bg-dark">
        <form action="/carrito/add" method="POST" class="card-body">

          <!-- Título y botón de guardar -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="text-light mb-3 h4">Agregar Producto al Carrito</h1>
            <button class="btn btn-success btn-block">
              Agregar
            </button>
          </div>

          <label for="producto_id">ID del Producto:</label>
          <input
            type="number"
            name="producto_id"
            class="form-control bg-dark text-light mb-3"
            placeholder="ID del Producto"
            required
          />

          <label for="cantidad">Cantidad:</label>
          <input
            type="number"
            name="cantidad"
            class="form-control bg-dark text-light mb-3"
            placeholder="Cantidad"
            min="1"
            required
          />

        </form>
      </div>
    </div>
  </div>
</div>
